@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.parent {
   width: 507px;
   height: 507px;
    margin: 50px auto auto auto;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.box {
    width: 169px;
    height: 169px;
    text-align: center;
    line-height: 169px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.border-bottom {
    border-bottom: 2px black solid;
    box-sizing: border-box;
}

.border-right {
    border-right: 2px black solid;
    box-sizing: border-box;
}

.clear-button {
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: auto;
    border: 1px black solid;
    border-radius: 8px;
    line-height: 40px;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
}

.form-popup {
   position: absolute; 
   top: 13%;
   left: 0;    
   right: 0; 
   margin-left: auto; 
   margin-right: auto; 
   width: 280px;
   height: 300px;
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),0px 2px 6px 2px rgba(60, 64, 67, 0.15);
   text-align: center;
   padding-top: 30px;
}

.displayN {
        display: none;

}

.form-field {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
}

.close-btn {
  cursor:pointer;
  position:absolute;
  right:5px;
  top:0px;
  width:30px;
  height:30px;
  color:rgb(0, 0, 0);
  font-size:20px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.form-input {
	border: 2px solid #dadce0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	padding-left: 5px;
}

.form-input:focus {
	border: 2px solid #464749;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	padding-left: 5px;
	outline: none;
}

.upload-button {
    border: 1px solid #dadce0;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    margin: 30px auto 40px auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.upload-button:hover {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    transform: translateY(-1px);

}